@keyframes pulsate-rotate {
	0% {
		color:$dark-grey;
		transform: scale(.95) rotate(-12deg);
	}
	50% {
		color: $color-secondary;
		transform: scale(1.25) rotate(12deg);
	}
	100% {
		color:$dark-grey;

		transform: scale(.95) rotate(-12deg);
	}
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-10rem);
	}
	80% {transform: translateX(1rem);}
	100% {
		opacity: 1;
		transform:translateX(0);
	}
}