// .svg-wave {
// 	width: 100%;
// 	position: absolute;
// 	left: 0;
// 	bottom:0;
// 	// z-index: 99;
	
	
// }

// .svg-rotated {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	transform: rotate(180deg);
// }

.svg {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	// fill: $color-secondary;
	// fill: url(.my-cool-gradient) #447799;
	  fill: url(#my-cool-gradient) $color-secondary;

	&-bottom {
		top:-2rem;
		left:0;
		transform: rotate(180deg);
		@include respond(phone) {
			top: -1rem;
        }
	}
	&-dark-blue {
		fill: $color-primary;
	}
	&-height {
		// height: 100%;
		// bottom: 4.5rem;
	}
	&-height-2 {
		top: -9.5rem;
		// left: 0;
		// top:-5rem;
		// right: 0;
		
	}
}

