// COLORS
$primary-color: #02aab0;
$secondary-color: #00cdac;

$white-color: #fff;
$white-color-2:#f4f4f4;

$dark-grey: #333333;
$dark-grey-2: #797979;


$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;

$color-primary: #1C1A1A;
$color-secondary: #BD1192;
$col-yellow: #CD8131;
// #28455d
// #98CD31
// #37c7c9
// $color-primary: #f4f4f4;
// $color-secondary: #98CD31;
// $col-yellow: #E7FF49;
// #BD1192 0%, #CD8131 