.footer {
  background-color: $color-primary;
  color: $dark-grey;
  padding: 8.8rem 0;
  position: relative;
  @include respond(phone) {
    border: 0px;
  }

  &__text {
    // color: darken(white, 50%);
    color:$white-color-2;
    font-size: 1.3rem;

    a {
      // color: darken(white, 50%);
      color:$color-secondary;

      font-size: 1.3rem;
      transition: all 0.4s;
      display: inline-block;
      background-color: none;
      
      animation: pulsate-rotate 2.5s infinite;
      &:hover,
      &:active {
        color: $color-secondary;
        -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      }
    }
  }

  & hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    width: 50%;
    border-top: 2px solid rgba(0, 0, 0, 0.05);
  }
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5rem;
  @include respond(tab-port) {
    margin-top:0;
  }
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $white-color;
    font-size: 3rem;
    width: 5rem;
    height: 5rem;
    margin: $default-font-size $default-font-size;
    transition: all .4s cubic-bezier(0,1.62,1,-0.16);
    transform: translateY(0);
    &:hover {
      transform: translateY(-5px);
    }
    i {
      color:$dark-grey-2;
      transition: all .2s ;
      &:hover {
        color:$white-color-2;
      }
    }
  }
}

.back-to-top i {
  color: $white-color-2;
  margin: 10rem 0 $default-font-size;
  transition: all 0.2s ease-in;
   @include respond(tab-port) {
    margin-top:0;
  }
  &:hover {
    transform: translateY(-2px);
  }
}

.credit {
  // color:red;
  font-style: italic;
  a {
    color:#3B6187;
  }
}